In [28]:
import pandas as pd
import numpy as np

cleaned = pd.read_csv("C:/Users/jgerhartz/projects/playoffs/static/csv/new.csv" )
raw = pd.read_csv("test.csv")

#create list of non data rows
non_data = [1,7,13,19,20,21,27,33]
raw_rows = raw.drop(non_data, axis=0)
drop_cols = ["Unnamed: 0"]
raw_cols = raw_rows.drop(drop_cols,axis=1)

In [29]:
raw_cols.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Current,Current.1,Unnamed: 9_level_0,...,Unnamed: 20_level_0,Unnamed: 21_level_0,Unnamed: 22_level_0,Unnamed: 23_level_0,Unnamed: 24_level_0,Unnamed: 25_level_0,Unnamed: 26_level_0,Change,Change.1,Change.2
0,Unnamed: 0_level_1,Tm,Lg,D,SRS,rSOS,Unnamed: 6_level_1,W,L,Unnamed: 9_level_1,...,WC,Div,LDS,LCS,Pennant,Win WS,Unnamed: 26_level_1,1 Day,7 Days,30 Days
2,1,Atlanta Braves,NL,E,1.1,0.2,NaN,91,56,NaN,...,0.2%,99.8%,99.9%,54.0%,23.4%,11.8%,NaN,0.0%,0.0%,+1.3%
3,2,Washington Nationals,NL,E,1.5,0.3,NaN,80,64,NaN,...,97.7%,0.2%,53.7%,25.5%,13.9%,7.9%,NaN,+3.8%,+0.2%,+31.5%
4,3,New York Mets,NL,E,0.8,0.3,NaN,75,70,NaN,...,12.8%,<0.1%,5.0%,1.8%,0.7%,0.4%,NaN,+5.8%,+6.9%,-14.5%
5,4,Philadelphia Phillies,NL,E,-0.1,0.8,NaN,75,70,NaN,...,5.7%,<0.1%,2.9%,1.1%,0.3%,0.2%,NaN,-1.4%,+1.4%,-4.2%

In [30]:
cleaned.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Current,Current.1,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Change,Change.1,Change.2
0,NaN,Tm,Lg,D,SRS,rSOS,NaN,W,L,NaN,...,WC,Div,LDS,LCS,Pennant,Win WS,NaN,1 Day,7 Days,30 Days
1,1.0,Atlanta Braves,NL,E,1.1,0.4,NaN,86,54,NaN,...,4.4%,95.6%,98.6%,55.8%,23.2%,11.8%,NaN,0.0%,0.0%,+2.6%
2,2.0,Washington Nationals,NL,E,1.4,0.4,NaN,78,60,NaN,...,93.3%,4.4%,52.4%,22.6%,12.9%,6.5%,NaN,+0.1%,+1.1%,+40.4%
3,3.0,New York Mets,NL,E,0.7,0.4,NaN,71,68,NaN,...,5.9%,<0.1%,3.2%,1.2%,0.9%,0.3%,NaN,+2.1%,-4.0%,-7.5%
4,4.0,Philadelphia Phillies,NL,E,-0.1,0.8,NaN,72,66,NaN,...,4.3%,<0.1%,2.2%,1.1%,0.6%,0.5%,NaN,-3.5%,-9.2%,-28.9%